body {
  background-color: #80B4C1;
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #80B4C1;
}

a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #555;
  text-decoration: none;
}

/*pic login */

.pic-login-2 {
  height: 75vh;
}

/*login form*/

.login-form {
  margin: auto;
}

.login-form h4 {
  text-align: center;
  font-weight: 600;
  color: #FCD200;
}

.login-form h5 {
  text-align: center;
  font-weight: 500;
  color: #FCD200;
}

.login-form input {
  padding-left: 40px !important;
  font-size: 15px;
}

.login-form input[type=text], input[type=password] {
  height: 50px;
}

.login-form input:focus {
  box-shadow: none !important;
  border-color: #eee;
}

.login-form svg {
  margin-top: -78px;
  margin-left: 10px;
}

.remember-forgot-div {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.remember-forgot-div a {
  float: right;
  color: black;
}

.login-btn {
  text-align: center;
  margin-top: 20px;
}

.login-btn button {
  background-color: #000000 !important;
  background-color: #000000 !important;
  padding: 7px 34px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
}

.login-btn button:focus {
  box-shadow: none !important;
}

.btn-primary {
  color: rgb(255, 255, 255);
  border-color: #000000;
}

.btn-btn-primary-sign-in-btn {
  color: rgb(255, 255, 255);
  border-color: #000000;
  background-color: #eee;
}

/**************************** media query 1024px **********************/

@media only screen and (max-width: 1024px) {
  .pic-login-2 {
    height: auto;
  }
}

/**************************** media query 736px **************/

@media only screen and (max-width: 736px) {
  .pic-login-2 {
    display: none;
  }
  .login-form {
    margin-top: 50px;
  }
  #login {
    margin: 0 !important;
    padding: 0 !important;
  }
}

/***************************** media query 414px **********/

/* mobile breakpoint start */

@media screen and (max-width: 414px) {
  body {
    background-image: none;
  }
  .container {
    margin-top: 0px;
  }
}