.myButton {
    background-color: #000000;
    border-radius: 60px;
    display: inline-block;
    color: #ffffff;
    font-family: Coolvetica;
    font-size: 4vw;
    padding: 7px 20px;
    text-decoration: none;
    margin-left: 1vw;
}

.myButton:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.textarea {
    outline: none;
    resize: none;
    overflow: auto;
    font-family: Coolvetica;
    font-size: 30px;
    color: #000000;
}

.respon {
    width: 100%;
    max-width: 250px;
    height: auto;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.headertext {
    font-family: Coolvetica;
    font-size: 30px;
    color: #FCD200;
}

.footerarea {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #FCD200;
    text-align: center;
    margin-top: 5vw;
}

.artworkarea {
    background-image: url("http://localhost:3000/resources/test2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 100%;
    height: 600px;
}


/* Default styles first then media queries */

@media screen and (min-width: 400px) {
    .headertext {
        font-size: 20px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 150px;
    }
    .headertext {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 600px) {
    .headertext {
        font-size: 20px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 500px;
    }
}

@media screen and (min-width: 1000px) {
    .headertext {
        font-size: 20px;
    }
    .myButton {
        font-size: 15px;
    }
    .artworkarea {
        height: 500px;
    }
}

@media screen and (min-width: 1200px) {
    .headertext {
        font-size: 25px;
    }
}