<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="comment.css">
    <title>Document</title>
</head>

<body>
    <div class="comment-respond">
        <div class="comment-detail">
            <span class="comment-avatar">
                <img src="avatar.png" alt="">
            </span>
            <span class="comment-author">
                <a href="">BlinkThailand no.1</a>
            </span>
            <span class="comment-date">
                on 23 November 2020 at 1:49 am
            </span>
        </div>
        <form action="" method="" class="comment-form">
            <div>

                <textarea name="comment" id="comments-post" class="comments-post" placeholder="   Write your comment"></textarea>
                <div class="comment-submit">
                    <input class="comments-submit" type="image" src="pensil.png">
                </div>
            </div>
        </form>
    </div>

    <div class="reply-comment">
        <div class="comment-list">
            <h3 class="comment-title">3 Comments</h3>
        </div>
        <ol id="comments">
            <li class="comment-body">
                <div class="comment-meta">
                    <div class="comments-profile">
                        <img src="avatar.png" alt="">
                    </div>
                    <span class="comments-data">
                            <a href="#"><div class="comments-wirter">BlinkThailand no.1</div></a>
                            <div class="comment-content">What a  good story. I love it</div>
                        </span>
                </div>
                <div class="time">
                    2 min ago
                </div>
            </li>
        </ol>

        <ol id="comments">
            <li class="comment-body">
                <div class="comment-meta">
                    <div class="comments-profile">
                        <img src="avatar.png" alt="">
                    </div>
                    <span class="comments-data">
                            <a href="#"><div class="comments-wirter">BlinkThailand no.1</div></a>
                            <div class="comment-content">What a  good story. I love it</div>
                        </span>
                </div>
                <div class="time">
                    2 min ago
                </div>
            </li>
        </ol>

        <ol id="comments">
            <li class="comment-body">
                <div class="comment-meta">
                    <div class="comments-profile">
                        <img src="avatar.png" alt="">
                    </div>
                    <span class="comments-data">
                            <a href="#"><div class="comments-wirter">BlinkThailand no.1</div></a>
                            <div class="comment-content">What a  good story. I love it</div>
                        </span>
                </div>
                <div class="time">
                    2 min ago
                </div>
            </li>
        </ol>

    </div>

</body>

</html>