<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AudioSpectrum in JavaScript</title>
    <link rel="stylesheet" href="audio wave.css" />
    <link rel="stylesheet" href="comment.css">
</head>

<body>
    <div class="soundWrapper">

        <div id="audio-spectrum"></div>

        <div class="control">
            <input type="button" id="btn-play" value="Play" disabled="disabled" />
            <input type="button" id="btn-pause" value="Pause" disabled="disabled" />
            <input type="button" id="btn-stop" value="Stop" disabled="disabled" />
        </div>

        <div class="detail">
            <div class="pod-img">
                <img src="http://localhost:3000/resources/cryman.png" alt="" class="pod-img" />
            </div>

            <div class="descripe-detail">
                <h2>EP46 Mission: <span style="font-size: 16px;">ออกล่าสัตว์ประหลาดและตามหาฝูงบินที่หายไป</span></h2>
                <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
                <div>15 K people listened <img src="headphone.png" alt=""><span style="margin-left: 100px;">1 week ago</span></div>
            </div>
        </div>

        <div class="reactive-post">
            <div class="like">
                <img src="http://localhost:3000/resources/like.png" alt="" class="likes"> <span class="reactive-icon">like it</span>
            </div>
            <div class="comment">
                <img src="http://localhost:3000/resources/comment.png" alt="" class="comments"> <span class="reactive-icon">softly comment</span>
            </div>
            <div class="save">
                <img src="http://localhost:3000/resources/save.png" alt="" class="saves"> <span class="reactive-icon">Save</span>
            </div>
        </div>
    </div>

    <div class="comment-respond">
        <div class="comment-detail">
            <span class="comment-avatar">
              <img src="http://localhost:3000/resources/avatar.png" alt="">
          </span>
            <span class="comment-author">
              <a href="">BlinkThailand no.1</a>
          </span>
            <span class="comment-date">
              on 23 November 2020 at 1:49 am
          </span>
        </div>
        <form action="" method="" class="comment-form">
            <div>

                <textarea name="comment" id="comments-post" class="comments-post" placeholder="   Write your comment"></textarea>
                <div class="comment-submit">
                    <input class="comments-submit" type="image" src="http://localhost:3000/resources/pensil.png">
                </div>
            </div>
        </form>
    </div>

    <div class="reply-comment">
        <div class="comment-list">
            <h3 class="comment-title">3 Comments</h3>
        </div>
        <ol id="comments">
            <li class="comment-body">
                <div class="comment-meta">
                    <div class="comments-profile">
                        <img src="http://localhost:3000/resources/avatar.png" alt="">
                    </div>
                    <span class="comments-data">
                          <a href="#"><div class="comments-wirter">BlinkThailand no.1</div></a>
                          <div class="comment-content">What a  good story. I love it</div>
                      </span>
                </div>
                <div class="time">
                    2 min ago
                </div>
            </li>
        </ol>

        <ol id="comments">
            <li class="comment-body">
                <div class="comment-meta">
                    <div class="comments-profile">
                        <img src="http://localhost:3000/resources/avatar.png" alt="">
                    </div>
                    <span class="comments-data">
                          <a href="#"><div class="comments-wirter">BlinkThailand no.1</div></a>
                          <div class="comment-content">What a  good story. I love it</div>
                      </span>
                </div>
                <div class="time">
                    2 min ago
                </div>
            </li>
        </ol>

        <ol id="comments">
            <li class="comment-body">
                <div class="comment-meta">
                    <div class="comments-profile">
                        <img src="http://localhost:3000/resources/avatar.png" alt="">
                    </div>
                    <span class="comments-data">
                          <a href="#"><div class="comments-wirter">BlinkThailand no.1</div></a>
                          <div class="comment-content">What a  good story. I love it</div>
                      </span>
                </div>
                <div class="time">
                    2 min ago
                </div>
            </li>
        </ol>

    </div>


    <script src="wave.js"></script>

    <script>
        var buttons = {
            play: document.getElementById("btn-play"),
            pause: document.getElementById("btn-pause"),
            stop: document.getElementById("btn-stop"),
        };

        var Spectrum = WaveSurfer.create({
            container: "#audio-spectrum",
            progressColor: "#606060",
        });

        buttons.play.addEventListener(
            "click",
            function() {
                Spectrum.play();

                buttons.stop.disabled = false;
                buttons.pause.disabled = false;
                buttons.play.disabled = true;
            },
            false
        );

        buttons.pause.addEventListener(
            "click",
            function() {
                Spectrum.pause();

                buttons.pause.disabled = true;
                buttons.play.disabled = false;
            },
            false
        );

        buttons.stop.addEventListener(
            "click",
            function() {
                Spectrum.stop();

                buttons.pause.disabled = true;
                buttons.play.disabled = false;
                buttons.stop.disabled = true;
            },
            false
        );

        Spectrum.on("ready", function() {
            buttons.play.disabled = false;
        });

        window.addEventListener(
            "resize",
            function() {
                var currentProgress =
                    Spectrum.getCurrentTime() / Spectrum.getDuration();

                Spectrum.empty();
                Spectrum.drawBuffer();

                Spectrum.seekTo(currentProgress);

                buttons.pause.disabled = true;
                buttons.play.disabled = false;
                buttons.stop.disabled = false;
            },
            false
        );

        Spectrum.load("Slipknot - Psychosocial [OFFICIAL VIDEO].mp3");
    </script>
</body>

</html>