<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>detail</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/card.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/enavbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/soundbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/button.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/extranavbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/musicplayer/musicplayer.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/slider.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/login/login.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/upload/upload.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/mix.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/style.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/audio wave.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/comment.css" />

</head>

<body>
    <% include partials/nologinnavbar %>
        <% include partials/upload %>
            <div class="container-lg" style="justify-content: center; margin-top: 3em; ">
                <div class="headertext" style="margin-top: 3em;">How was your day?</div>
                <div style="display:flex; flex-direction: row; margin-top: -1em;">
                    <div class="headertext">tell your story with SoftlySpoken. </div>

                </div>
                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style=" margin-top: 2em; margin-bottom: 2em; margin-left: auto;">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-8">
                        <div class="headerdetail">
                            <div class="titled-img" style="margin-top: 0; margin-right: 5px;"></div><a>Untitledcase</a><a>'s Podcast</a>
                        </div>
                        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style=" max-height: fit-content; padding: 0;">
                            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5 col-2 pod-img" style="border-top-left-radius: 15px; background-color: brown;  ">
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-7 col-10" style="border-top-right-radius: 15px;background: rgb(78,49,107); background: linear-gradient(90deg, rgba(78,49,107,1) 0%, rgba(31,20,42,1) 100%); padding: 0;">
                                <% include partials/audiodetail %>
                            </div>
                        </div>
                        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="background-color:#DFDFDF;  height: auto; padding-bottom: 10px; padding-top: 10px;">
                            <div class="descripe-detail">
                                <span style="font-size: 16px; margin-top: 5px; ">EP46 Mission:ออกล่าสัตว์ประหลาดและตามหาฝูงบินที่หายไป</span></h2>
                                <div id="description">
                                    <p id="test" style="font-size: 15px;  ">xxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxx xxxxxxxxxxxxx xxxxx xxxxxxxxxxxx xxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxx xxxxxxxxx xxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxxxxxx xxxxx</p>
                                </div>
                                <div style="font-size: 13px; ">15 K people listened <img src="http://localhost:3000/resources/headphone.png " alt=" "><span style="font-size: 13px; margin-left: 50px; ">1 week ago</span></div>
                            </div>
                        </div>
                        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="background-color: #ECECEC; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px; ">

                            <div class="col-xl-3 col-lg-3- col-md-3 col-sm-3 col-3 " style="background-color:transparent; ">
                                <div class="like ">
                                    <img src="http://localhost:3000/resources/like.png " alt=" " class="likes reactive-post "> <span class="reactive-icon ">like it</span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4- col-md-4 col-sm-4 col-4 " style="background-color: transparent; ">
                                <div class="comment ">
                                    <img src="http://localhost:3000/resources/comment.png " alt=" " class="comments reactive-post "> <span class="reactive-icon ">softly comment</span>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4- col-md-4 col-sm-4 col-4 " style="background-color: transparent; ">
                                <div class="save ">
                                    <img src="http://localhost:3000/resources/save2.png " alt=" " class="saves reactive-post "> <span class="reactive-icon">save</span>
                                </div>
                            </div>
                        </div>

                        <% include partials/writecomment %>
                            <% include partials/comment %>
                                <% include partials/comment %>

                    </div>


                </div>
            </div>





            <script>
                var dt = new Date();
                document.getElementById("datetime").innerHTML = dt.toLocaleString();
            </script>

</body>

</html>