<div class="container">

    <div class="headertext" style="margin-top: 3em;">Register now to join community</div>
    <div style="display:flex; flex-direction: row; margin-top: -2em;">
        <div class="headertext">with SoftlySpoken. </div>
        <a href="### " class="headertext" style="margin-left: 1em; margin-bottom: 0; color: #0167B5;">Cick here to create your accout</a>
    </div>

    <div class="row" style="margin: 0; ">
        <header class="regular slider ">
            <% include partials/card %>
                <% include partials/card %>
                    <% include partials/card %>
                        <% include partials/card %>
                            <% include partials/card %>
                                <% include partials/card %>
                                    <% include partials/card %>
                                        <% include partials/card %>
                                            <% include partials/card %>
                                                <% include partials/card %>
                                                    <% include partials/card %>
                                                        <% include partials/card %>
                                                            <% include partials/card %>
                                                                <% include partials/card %>
                                                                    <% include partials/card %>
                                                                        <% include partials/card %>
                                                                            <% include partials/card %>
                                                                                <% include partials/card %>
                                                                                    <% include partials/card %>
                                                                                        <% include partials/card %>

        </header>
    </div>
    <div class="row" style="padding-bottom: 1em; justify-content:flex-end; margin :0; border-bottom: 3px solid#D3BF07;">
        <a class="myButton" id="see-more " href="/seemore "><span>see more</span><span class="glyphicon glyphicon-menu-hamburger "></span></a>
    </div>
    <div class="content ">
        <ul class="menu-bar ">
            <li><a href="# ">Love</a></li>
            <li><a href="# ">Study</a></li>
            <li><a href="# ">Ghost Story</a></li>
            <li><a href="# ">Heath</a></li>
            <li><a href="# ">Entertainment</a></li>
        </ul>

    </div>

    <div class="row " style="margin: 0; ">


        <header class="regular slider ">
            <% include partials/card %>
                <% include partials/card %>
                    <% include partials/card %>
                        <% include partials/card %>
                            <% include partials/card %>
                                <% include partials/card %>
                                    <% include partials/card %>
                                        <% include partials/card %>
                                            <% include partials/card %>
                                                <% include partials/card %>
                                                    <% include partials/card %>
                                                        <% include partials/card %>
                                                            <% include partials/card %>
                                                                <% include partials/card %>
                                                                    <% include partials/card %>
                                                                        <% include partials/card %>
                                                                            <% include partials/card %>
                                                                                <% include partials/card %>
                                                                                    <% include partials/card %>
                                                                                        <% include partials/card %>

        </header>
    </div>
    <div class="row" style="padding-bottom: 1em; justify-content:flex-end; margin :0; border-bottom: 3px solid#D3BF07;">
        <a class="myButton" id="see-more " href="/seemore "><span>see more</span><span class="glyphicon glyphicon-menu-hamburger "></span></a>
    </div>


    <div class="row" style="margin: 0; ">
        <header class="regular slider ">
            <% include partials/card %>
                <% include partials/card %>
                    <% include partials/card %>
                        <% include partials/card %>
                            <% include partials/card %>
                                <% include partials/card %>
                                    <% include partials/card %>
                                        <% include partials/card %>
                                            <% include partials/card %>
                                                <% include partials/card %>
                                                    <% include partials/card %>
                                                        <% include partials/card %>
                                                            <% include partials/card %>
                                                                <% include partials/card %>
                                                                    <% include partials/card %>
                                                                        <% include partials/card %>
                                                                            <% include partials/card %>
                                                                                <% include partials/card %>
                                                                                    <% include partials/card %>
                                                                                        <% include partials/card %>

        </header>
    </div>
    <div class="row" style="padding-bottom: 1em; justify-content:flex-end; margin :0; border-bottom: 3px solid#D3BF07;">
        <a class="myButton" id="see-more " href="/seemore "><span>see more</span><span class="glyphicon glyphicon-menu-hamburger "></span></a>
    </div>
    <footer>
        <div class="footer-area ">

        </div>
    </footer>
</div>