<!DOCTYPE html>
<html>
  <head>
    <title>Softyspoken</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/card.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/enavbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/soundbar.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/slick/button.css" />

    <link rel="stylesheet" type="text/css" href="stylesheets/slick/extranavbar.css" />
    <style type="text/css">
      html,
      body {
        font-family: 'Sriracha', cursive;
        margin: 0;
        padding: 0;
        background-color: rgb(236, 232, 204);
      }

      * {
        box-sizing: border-box;
      }

      .slider {
        width: 80%;
        margin: 50px auto;
        
      }

      .slick-slide {
        margin: 0px 20px;
      }

      .slick-slide img {
        width: 100%;
      }

      .slick-prev:before,
      .slick-next:before {
        color: black;
      }

      .slick-slide {
        transition: all ease-in-out 0.3s;
        opacity: 1;
      }

      .slick-active {
        opacity: 1;
      }

      .slick-current {
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
      <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Brand<b>Name</b></a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active">Home</a>
          <a href="#" class="nav-item nav-link">About</a>
          
          <a href="#" class="nav-item nav-link">Blog</a>
          <a href="#" class="nav-item nav-link">Contact</a>
        </div>
        <form class="navbar-form form-inline">
          <div class="input-group search-box">								
            <input type="text" id="search" class="form-control" placeholder="Search ">
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div>
        </form>
        <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link notifications"><i class="fa fa-upload"></i></a>
          <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
          <a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a></a>
          <div class="nav-item dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="https://anothersideofstory99.files.wordpress.com/2012/09/mahatma.png" class="avatar" alt="Avatar"> khanthee <b class="caret"></b></a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></a>
              <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a></a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    
    <div style="font-size: 24px; text-align: left; margin-top: 50px ; margin-left:200px ;">Recently</div>
    <div class="regular slider">
      <div class="card">
        <img src="https://i.pinimg.com/originals/c5/84/5a/c5845a4dc492b335779285f63f88dd97.jpg" alt="Avatar" style="width:100% " >
        <div class="container">
          <h4 style="font-size: 3vh;">Tony Jaa</h4>
          <p>Stunman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>

      <div class="card">
        <img src="https://i.pinimg.com/originals/c5/84/5a/c5845a4dc492b335779285f63f88dd97.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>Tony Jaa</b></h4>
          <p>Stunman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/originals/c5/84/5a/c5845a4dc492b335779285f63f88dd97.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>Tony Jaa</b></h4>
          <p>Stunman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/originals/c5/84/5a/c5845a4dc492b335779285f63f88dd97.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>Tony Jaa</b></h4>
          <p>Stunman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/originals/c5/84/5a/c5845a4dc492b335779285f63f88dd97.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>Tony Jaa</b></h4>
          <p>Stunman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/originals/c5/84/5a/c5845a4dc492b335779285f63f88dd97.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>Tony Jaa</b></h4>
          <p>Stunman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://i.pinimg.com/originals/c5/84/5a/c5845a4dc492b335779285f63f88dd97.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>Tony Jaa</b></h4>
          <p>Stunman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
    </div>
    <div ><a class="btn" id = "see-more" href="#"><span>see more</span><span class="glyphicon glyphicon-menu-hamburger"></span></a></div>

    <div class="content">
      <ul class="menu-bar">
      <li><a href="#">Love</a></li>
      <li>Study</li>
      <li>Ghost Story</li>
      <li>Heath</li>
      <li>Entertainment</li>
      </ul>
          
  </div>

    <h1 style="text-align: center">การเรียน</h1>
    <section class="regular slider">
      <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
          <p>Ironman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
          <p>Ironman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
          <p>Ironman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
          <p>Ironman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
          <p>Ironman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
      <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4 style="font-size: 3vh;">>tony stark</h4>
          <p>Ironman</p>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
          <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
          <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
          <a href="#" style="text-align: center;">Read More</a>
        </div>
      </div>
    </section>
    <div ><a class="btn" id = "see-more" href="#"><span>see more</span><span class="glyphicon glyphicon-menu-hamburger"></span></a></div>

    <h1 style="text-align: center">การเงิน</h1>
    <section class="regular slider">
      <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
      </div>
      <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
      </div>
      <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
      </div>
      <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
      </div>
      <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
      </div>
      <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
      </div>
    </section>
    <div ><a class="btn" id = "see-more" href="#"><span>see more</span><span class="glyphicon glyphicon-menu-hamburger"></span></a></div>

    <h1 style="text-align: center">ความรัก</h1>
    <section class="regular slider">
      <div>
        <img src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
      </div>
      <div>
        <img src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
      </div>
      <div>
        <img src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
      </div>
      <div>
        <img src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
      </div>
      <div>
        <img src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
      </div>
      <div>
        <img src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
      </div>
    </section>
    <div ><a class="btn" id = "see-more" href="#"><span>see more</span><span class="glyphicon glyphicon-menu-hamburger"></span></a></div>




    <div class="music-player">
      <div class="progress-wrapper">
          <div class="progress-bar"></div>
      </div>
      <div class="times-row">
          <div class="start-time">0:00</div>
          <div class="current-song">Current </div>
          <div class="end-time">3:48</div>
      </div>
      <div class="player-actions">
          <button class="action-button">
              <i class="material-icons">skip_previous</i>
          </button>
          <button class="play-button">
              <i class="material-icons">pause</i>
          </button>
          <button class="action-button">
              <i class="material-icons">skip_next</i>
          </button>
      </div>
  </div>




    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"
    ></script>
    <script
      src="stylesheets/slick/slick.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script type="text/javascript">
      $(document).on("ready", function () {
        $(".vertical-center-4").slick({
          dots: true,
          vertical: true,
          centerMode: true,
          slidesToShow: 4,
          slidesToScroll: 2,
        });
        $(".vertical-center-3").slick({
          dots: true,
          vertical: true,
          centerMode: true,
          slidesToShow: 3,
          slidesToScroll: 3,
        });
        $(".vertical-center-2").slick({
          dots: true,
          vertical: true,
          centerMode: true,
          slidesToShow: 2,
          slidesToScroll: 2,
        });
        $(".vertical-center").slick({
          dots: true,
          vertical: true,
          centerMode: true,
        });
        $(".vertical").slick({
          dots: true,
          vertical: true,
          slidesToShow: 3,
          slidesToScroll: 3,
        });
        $(".regular").slick({
          dots: true,
          infinite: true,
          slidesToShow: 5,
          slidesToScroll: 5,
        });
        $(".center").slick({
          dots: true,
          infinite: true,
          centerMode: true,
          slidesToShow: 5,
          slidesToScroll: 3,
        });
        $(".variable").slick({
          dots: true,
          infinite: true,
          variableWidth: true,
        });
        $(".lazy").slick({
          lazyLoad: "ondemand", // ondemand progressive anticipated
          infinite: true,
        });
      });
    </script>
     <script>
      const navIcon = document.querySelector(".nav-icon");
      const nav = document.querySelector("nav");

      navIcon.onclick = function () {
          nav.classList.toggle('show');
      }
  </script>
  </body>
</html>
