<div class="container">
    <!--login form -->
    <div id="login" class="row col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-lg-6 col-md-6">
            <img class="pic-login-2" src="resources/pic-login-2.svg">
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 col-12 login-form">
            <h4>Happy to see you agian</h4>
            <h5>tell your story with SoftlySpoken.</h5>

            <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Username">
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" placeholder="Password">
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                    <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                </svg>
            </div>
            <div class="remember-forgot-div">

                <span class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Remember
                    </label>
                </span>
                <a href="">Forgot password?</a>
            </div>
            <div class="login-btn">
                <a href="#"><img src="http://localhost:3000/resources/sign_in.png"></a> <span>
                    <button class="btn btn-primary sign-in-btn">Create Account</button></span>
            </div>
        </div>
    </div>

</div>