<!DOCTYPE html>
<html>

<title>login</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css">
<link rel="stylesheet" type="text/css" href="stylesheets/slick/style.css">
<link rel="stylesheet" type="text/css" href="stylesheets/slick/mix.css">
</head>

<body>

    <div class="container" style="max-width: 90%; ">

        <!-- site-navbar start -->
        <div class="navbar" style="height: 100px; ">
            <a href="xxxxx">
                <img src="http://localhost:3000/resources/logo_w-name.png" style="max-width: 250px; height: 60px;">
            </a>
        </div>

        <!-- navbar-area end -->


        <!--login form -->
        <div class="row col-lg-12 col-md-12 col-sm-12 col-12" style="position: relative; max-height:80%;margin-left:0.1% ; margin-bottom:5%; ">
            <div class="col-lg-7 col-md-7 col-sm-4 " style=" width: 100%;  ">
                <div class="artworkarea">

                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 login-form" style="max-width: 100%; justify-content: center; margin-left: 0;">
                <div class="headertext">
                    <a>Happy to see you agian</a>
                    <br>
                    <a>tell your story with SoftlySpoken.</a>
                </div>
                <form action="users/login" method="post">
                    <div class="form-group" style="margin-top:2em;">

                        <input name="name" type="text" style="margin-left: -5px; height: 4em; border-bottom-left-radius: 0; border-bottom-right-radius: 0;" class="form-control form-control-lg" placeholder="Username or Email Address">
                        <img src="http://localhost:3000/resources/user_login.png" style="margin-left: 3px; margin-top: -90px; width: 25px; height: 25px; ">
                    </div>
                    <div class="form-group" style="margin-top: -2.5em;">
                        <input name="password" type="password" style="margin-left: -5px; height: 4em; border-top-left-radius: 0; border-top-right-radius: 0;" class="form-control form-control-lg" placeholder="Password">
                        <img src="http://localhost:3000/resources/password_login.png" style="margin-left: 5px; margin-top: -90px; width: 20px; height: 25px; ">
                    </div>
                    <div class="remember-forgot-div" style="margin-top: -2em;">

                        <span class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck" style="color:#FFFFFF;">
                        Remember me
                    </label>
                </span>
                        <a href="#" style="color:#FFFFFF;">Forgot password?</a>
                    </div>

                    <div class=" row " style="margin-top: 2em;">
                        <a href="# " class=" myButton ">Sign in</a>

                        <a href="# " class=" myButton ">Create Account</a>
                    </div>
                </form>


            </div>
        </div>
        <footer>
            <div class="footerarea">

            </div>
        </footer>
    </div>







    <scrip src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></scrip>
    <scrip src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></scrip>
    <scrip src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></scrip>
    <script src="stylesheets/login.js " type="text/javascript ">
        < /body>  < /
        html >