<nav class="nav bar navbar-expand-xl navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><i class="navbar-toggler-icon"></i></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span></span>
    </button>

    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link active">Saved</a>
        </div>
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search ">
                <span class="input-group-addon"></span>
            </div>
        </form>
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active" style="margin: 0 100px 0 120px;" id="uploadButton">Upload</a>
        </div>
        <div class="navbar-nav ml-auto">

            <div class="nav-item dropdown">
                <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action nav-item active"><img
                        src="https://anothersideofstory99.files.wordpress.com/2012/09/mahatma.png" class="avatar"
                        alt="Avatar" style="margin: 1px 2px 2px 2px;">
                    Username </a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></a>
                    <div class="dropdown-divider">
                    </div><a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Helps</a></a>
                    <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Signout</a></a>
                </div>
            </div>
            <a href="#" class="nav-item nav-link notifications"><img
                    src="http://localhost:3000/resources/notifications.png"
                    style="width: auto;margin: 0 12px 0 80px;"></a>
        </div>
    </div>
</nav>