<div style="font-size: 24px; text-align: left; margin-top: 50px ; margin-left:200px ;">Recently</div>
<header class="regular slider">
    <div class="box">
        <div class="box-img">
            <img src="https://i.ytimg.com/vi/qf13arML_Us/hqdefault.jpg" alt="">
            <div class="time"><span class="timestamp"><i class="fa fa-play"></i> 20.35 m</span></div>
            <div class="view"><span><i class="fa fa-headphones"></i>15k views</span></div>
        </div>
        <p>EP46 Mission</p>
        <span class="timestamp"><i class="fa fa-clock-o"></i> 1 week ago</span>
        <span class="title"> untitled case <i class="fa fa-user-circle"></i></span>
        <div class="comment"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
    </div>
    <div class="box">
        <div class="box-img">
            <img src="http://localhost:3000/resources/track_art.png" alt="">
            <div class="time"><span class="timestamp"><i class="fa fa-play"></i> 20.35 m</span></div>
            <div class="view"><span><i class="fa fa-headphones"></i>15k views</span></div>
        </div>
        <p>EP46 Mission</p>
        <span class="timestamp"><i class="fa fa-clock-o"></i> 1 week ago</span>
        <span class="title"> untitled case <i class="fa fa-user-circle"></i></span>
        <div class="comment"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
    </div>
    <div class="box">
        <div class="box-img">
            <img src="https://i.ytimg.com/vi/qf13arML_Us/hqdefault.jpg" alt="">
            <div class="time"><span class="timestamp"><i class="fa fa-play"></i> 20.35 m</span></div>
            <div class="view"><span><i class="fa fa-headphones"></i>15k views</span></div>
        </div>
        <p>EP46 Mission</p>
        <span class="timestamp"><i class="fa fa-clock-o"></i> 1 week ago</span>
        <span class="title"> untitled case <i class="fa fa-user-circle"></i></span>
        <div class="comment"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
    </div>
    <div class="box">
        <div class="box-img">
            <img src="https://i.ytimg.com/vi/qf13arML_Us/hqdefault.jpg" alt="">
            <div class="time"><span class="timestamp"><i class="fa fa-play"></i> 20.35 m</span></div>
            <div class="view"><span><i class="fa fa-headphones"></i>15k views</span></div>
        </div>
        <p>EP46 Mission</p>
        <span class="timestamp"><i class="fa fa-clock-o"></i> 1 week ago</span>
        <span class="title"> untitled case <i class="fa fa-user-circle"></i></span>
        <div class="comment"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
    </div>
    <div class="box">
        <div class="box-img">
            <img src="https://i.ytimg.com/vi/qf13arML_Us/hqdefault.jpg" alt="">
            <div class="time"><span class="timestamp"><i class="fa fa-play"></i> 20.35 m</span></div>
            <div class="view"><span><i class="fa fa-headphones"></i>15k views</span></div>
        </div>
        <p>EP46 Mission</p>
        <span class="timestamp"><i class="fa fa-clock-o"></i> 1 week ago</span>
        <span class="title"> untitled case <i class="fa fa-user-circle"></i></span>
        <div class="comment"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
    </div>
    <div class="box">
        <div class="box-img">
            <img src="https://i.ytimg.com/vi/qf13arML_Us/hqdefault.jpg" alt="">
            <div class="time"><span class="timestamp"><i class="fa fa-play"></i> 20.35 m</span></div>
            <div class="view"><span><i class="fa fa-headphones"></i>15k views</span></div>
        </div>
        <p>EP46 Mission</p>
        <span class="timestamp"><i class="fa fa-clock-o"></i> 1 week ago</span>
        <span class="title"> untitled case <i class="fa fa-user-circle"></i></span>
        <div class="comment"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
    </div>
    <div class="box">
        <div class="box-img">
            <img src="https://i.ytimg.com/vi/qf13arML_Us/hqdefault.jpg" alt="">
            <div class="time"><span class="timestamp"><i class="fa fa-play"></i> 20.35 m</span></div>
            <div class="view"><span><i class="fa fa-headphones"></i>15k views</span></div>
        </div>
        <p>EP46 Mission</p>
        <span class="timestamp"><i class="fa fa-clock-o"></i> 1 week ago</span>
        <span class="title"> untitled case <i class="fa fa-user-circle"></i></span>
        <div class="comment"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
    </div>
</header>
<div><a class="btn" id="see-more" href="#"><span>see more</span><span
            class="glyphicon glyphicon-menu-hamburger"></span></a></div>

<div class="content">
    <ul class="menu-bar">
        <li><a href="#">Love</a></li>
        <li>Study</li>
        <li>Ghost Story</li>
        <li>Heath</li>
        <li>Entertainment</li>
    </ul>

</div>

<h1 style="text-align: center">การเรียน</h1>
<section class="regular slider">
    <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
            <p>Ironman</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
            <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
            <a href="#" style="text-align: center;">Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
            <p>Ironman</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
            <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
            <a href="#" style="text-align: center;">Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
            <p>Ironman</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
            <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
            <a href="#" style="text-align: center;">Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
            <p>Ironman</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
            <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
            <a href="#" style="text-align: center;">Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4 style="font-size: 3vh;"><b>tony stark</b></h4>
            <p>Ironman</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
            <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
            <a href="#" style="text-align: center;">Read More</a>
        </div>
    </div>
    <div class="card">
        <img src="https://cdn.vox-cdn.com/thumbor/w4A8pX45nBuLHW5OIhyQbZSNIdI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/8720401/ktokatitmir0.jpg"
            alt="Avatar" style="width:100%">
        <div class="container">
            <h4 style="font-size: 3vh;">>tony stark</h4>
            <p>Ironman</p>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-play"></i> 20.35 </span></div>
            <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span></div>
            <div class="post-meta"><span class="comments"><i class="fa fa-comments"></i> 39 comments</span></div>
            <a href="#" style="text-align: center;">Read More</a>
        </div>
    </div>
</section>
<div><a class="btn" id="see-more" href="#"><span>see more</span><span
            class="glyphicon glyphicon-menu-hamburger"></span></a></div>

<h1 style="text-align: center">การเงิน</h1>
<section class="regular slider">
    <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
    </div>
    <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
    </div>
    <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
    </div>
    <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
    </div>
    <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
    </div>
    <div>
        <img src="https://i.ytimg.com/vi/KXB8QbvwZco/maxresdefault.jpg" />
        <p>ลุงโทนี่</p>
    </div>
</section>
<div><a class="btn" id="see-more" href="#"><span>see more</span><span
            class="glyphicon glyphicon-menu-hamburger"></span></a></div>

<h1 style="text-align: center">ความรัก</h1>
<section class="regular slider">
    <div>
        <img
            src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
    </div>
    <div>
        <img
            src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
    </div>
    <div>
        <img
            src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
    </div>
    <div>
        <img
            src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
    </div>
    <div>
        <img
            src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
    </div>
    <div>
        <img
            src="https://www.thavornbeachvillage.com/news/wp-content/uploads/2019/05/%E0%B9%82%E0%B8%97%E0%B8%99%E0%B8%B5%E0%B9%88-%E0%B8%9C%E0%B8%B5-Cover-1.jpg" />
        <p>โทนี่ ผี</p>
    </div>
</section>
<div><a class="btn" id="see-more" href="#"><span>see more</span><span
            class="glyphicon glyphicon-menu-hamburger"></span></a></div>