<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merienda+One"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="upload.css" />
    <title>Upload Form</title>
  </head>
  <body>
    <div class="signupSection">
      <div class="info">
        <h2>Record Now</h2>
        <img src="microphone.png" alt="" />
        <div class="uploadfile">
          <span> or upload file</span>
          <button class="choosefile">choose file</button>
        </div>
      </div>
      <form action="#" method="POST" class="titleForm" name="titleform">
        <ul class="noBullet">
          <li>
            <label for="tile"></label>
            <input
              type="text"
              class="inputTitle"
              id="title"
              name="title"
              placeholder="title*"
              value=""
              required
            />
          </li>
          <li>
            <label for="description"></label>
            <textarea
              name="description"
              class="description"
              id="description"
              cols="30"
              rows="10"
              placeholder="description*"
              required
            ></textarea>
          </li>

          <div class="imgToUpload">
              <div>
                 Upload thumbnail
                <img class="imgupload"
                  src="kisspng-computer-icons-photography-img-landscape-photo-photography-picture-icon-5ab054ddbd13a7.3403789515215055017745.png"
                  alt=""/> click here to upload
              </div>

              <label for="choose your tag">Choose your tag:</label>
              <select name="choose your tag" id="choosetag" class="choosetag">
                <option value="study">STUDY</option>
                <option value="love">LOVE</option>
                <option value="entertainment">ENTERTAINMENT</option>
                <option value="health">HEALTH</option>
              </select>
            
          </div>
          <li id="center-btn">
            <input
              type="submit"
              id="publish"
              name="publish"
              alt="publish"
              value="publish"
            />
          </li>
        </ul>
      </form>
    </div>
  </body>
</html>
