#uploadSection {
  display: none;
  z-index: 2;
  top: 400px;
  background-color: rgb(0, 0, 0);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 400px; opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
} 

.signupSection {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 620px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.signupSection .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .close-btn:hover{
  color: #000000;
}

.info {
  height: 100%;
  width: 45%;
  background: rgba(214, 185, 185, 0.8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, 0.8);
}

.titleForm {
  margin-top: -620px;
  height: 100%;
  width: 55%;
  padding: 30px 0;
  background: rgba(203, 219, 219, 0.8);
  transition: 0.2s;
}

.inputTitle {
  margin-left: 5px;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  background: rgba(206, 123, 123, 0.2);
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#publish {
  border: 1px solid rgba(10, 180, 180, 1);
  background: rgba(218, 200, 200, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
}

.description {
  margin: 15px 0;
  font-size: 16px;
  width: 250px;
  height: 150px;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  background: rgba(206, 123, 123, 0.2);
  color: white;
  outline: none;
}

.choosefile {
  margin-left: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 60px;
  color: black;
}

.uploadfile {
  margin-top: 40px;
}

.imgupload {
  cursor: pointer;
  width: 10%;
}

.choosetag {
  margin-top: 20px;
} 