<div class="box" style="margin-left: -13px;">
    <a href="/detail" style="color: white;text-decoration: none;">
        <div class="box-img">
            <img class="img-box" src="https://static.hiphopdx.com/2015/10/drake-hotline-bling-jacket-moncler.png"
                alt="">
            <div class="time"><span class="timestamp"><i class="fa fa-play"></i> 20:35 </span></div>
            <div class="view"><span>15k <i class="fa fa-headphones"></i></span></div>
        </div>


        <p style="font-size: 11px;">EP46 Mission:<span>ออกล่าสัตว์ประหลาด และตามหาฝูงบินที่หายไป</span></p>

        <div style=" display: flex; justify-content: space-between; padding: 5px; ">
            <span class="timestamp " style="font-size: 9px; "> 1 week ago</span>
            <span class="title " style="font-size:9px;"> untitled case </span>
            <div class="titled-img  "></div>
        </div>
    </a>
</div>