<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="margin-top: 1em; padding: 0;  background: #DFDFDF; border-radius: 20px;">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
        <div class="user-pic" style="width: 40px;height: 40px; margin: 10px;"> </div>
    </div>
    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
        <ol id="comments">
            <div class="comment-body">
                <div class="comment-meta ">
                    <span class="comments-data ">
                        <div  style="display: flex; flex-direction: row;">
                        <a href=" " class="commentt" >BlinkThailand no.1</a>
                        <p class="commentt" >24/11/2020 12:40AM</p>
                        </div>
                    <div id="description">
                        <p id="test" style="font-size: 15px;">xxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                    </span>
                </div>

            </div>
        </ol>
    </div>
</div>