<div id="dropdownsection">
    <a href="/profile" class="dropdown-item" style="cursor: pointer;"><i class="fa fa-user-o"></i>
        Profile</a></a>
    <div class="dropdown-divider">
    </div><a class="dropdown-item" style="cursor: pointer;color: white;"><i class="fa fa-sliders"></i> Helps</a></a>
    <a href="/" class="dropdown-item" style="cursor: pointer;"><i class="material-icons">&#xE8AC;</i>
        Signout</a></a>
</div>