<nav class="nav bar navbar-expand-xl navbar-dark bg-dark">
    <a href="/" class="navbar-brand"><i class="navbar-toggler-icon"></i></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span></span>
    </button>

    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link active">Saved</a>
        </div>
        <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search ">
                <span class="input-group-addon"></span>
            </div>
        </form>
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link active" style="margin: 0 0px 0 120px;width: max-content;">Didn’t have accout?</a>
        </div>
        <div class="navbar-nav ml-auto">

            <a href="/signup" class="nav-item nav-link notifications"><img src="http://localhost:3000/resources/register.png"
                    style="width: auto;margin: 0 0px 0 0px;border-radius: 0%;"></a>
            <a href="/login" class="nav-item nav-link notifications"><img src="http://localhost:3000/resources/signin.png"
                    style="width: auto;margin: 0 0px 0 0px;"></a>
        </div>
    </div>
</nav>