<div class="row col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 " style="width: 100%;">
    <div class="allsidebar">
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 sidebarheader">
            <a>Hottest in lastweek</a>
        </div>
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 sidebarcontent">
            <% include sidecontent %>
                <% include sidecontent %>
                    <% include sidecontent %>
                        <% include sidecontent %>
                            <% include sidecontent %>
                                <% include sidecontent %>
                                    <% include sidecontent %>
                                        <% include sidecontent %>
                                            <% include sidecontent %>
                                                <% include sidecontent %>

        </div>
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 sidebarfooter" style="background-color: rosybrown; ">

        </div>
    </div>
</div>