<div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style=" padding: 0;">
    <div class="comment-respond " style="margin-top: 1.5em; ">
        <div class="comment-detail" style="display: flex; flex-direction: row;">
            <div class="user-pic" style="margin: 10px; width: 40px;height: 40px;"> </div>

            <a href=" " class="commentt" style="margin: 10px;">BlinkThailand no.1</a>
            <p class="commentt" style="margin: 10px;">24/11/2020 12:40AM</p>


        </div>

        <textarea name=" comment " id="comments-post " class="comments-post " placeholder=" Write your comment "></textarea>
        <div class="row " style="justify-content: flex-end; margin: 0; padding-right: 10px; ">
            <button href="xxxxx " style=" background-color: transparent; border: none;outline: none; margin: 0;padding-bottom: 5px; ">
            <img src="http://localhost:3000/resources/send.png "  style=" width: 40px; height: 40px; ">
        </div>

    </div>
</div>