#see-more{
    margin-top: 50px;
    margin-left: 50px;
    background-color: #2a1c29;
    color: aliceblue;
    font-size: 24px;
    border-radius: 10px;
}
.glyphicon {
    margin-top: auto;
    margin-left: 10px;
}